[Unit]
Description=Sensorgnome main control process.
; Restart=Always has no effect if start fails due to dependency: systemd sucks
; https://unix.stackexchange.com/questions/213185
; https://github.com/systemd/systemd/issues/1312
; chrony takes time to start, we use a hack with a sleep to delay if it's slow
; maybe should ignore chrony...
Requires=sg-boot.service
After=sg-boot.service chronyd.service sg-usb-init.service gpsd.socket
; Wants is weaker than Requires and doesn't prevent start-up
Wants=chronyd.service

[Service]
Type=exec
WorkingDirectory=/opt/sensorgnome/control
Environment=NODE_ENV=production
Environment=NODE_PATH=/opt/sensorgnome/control
Environment=LC_ALL="C.UTF-8"
ExecStartPre=/opt/sensorgnome/install-node-18.sh
; the following ExecStartPre "replace" the After above...
ExecStartPre=bash -c "/usr/bin/systemctl is-active chronyd.service||sleep 2"
ExecStartPre=/usr/bin/systemctl is-active chronyd.service
; the threadpool size bump is needed 'cause reading TTYs (CTT xcvr) blocks in there
ExecStart=/bin/bash -c "UV_THREADPOOL_SIZE=20 nice -n -15 node main"
ExecStartPost=-/usr/bin/killall -KILL rtl_tcp vamp-alsa-host chronyc
TimeoutStopSec=5
Restart=always
RestartSec=60s
SyslogIdentifier=sg-control
SyslogFacility=local6

[Install]
WantedBy=multi-user.target
