[Unit]
Description=Sensorgnome main control process.
After=sg-boot sg-gps-link chronyd sg-usb-init
Requires=sg-boot sg-gps-link chronyd sg-usb-init

[Service]
Type=exec
WorkingDirectory=/opt/sensorgnome/control
Environment=NODE_ENV=production
Environment=NODE_PATH=/opt/sensorgnome/control
Environment=LC_ALL="C.UTF-8"
ExecStartPre=/bin/bash -c 'echo "*** Starting sensorgnome control app $(date)" >/var/log/nodelog.txt'
ExecStartPre=-/usr/bin/ln -s /data/SGdata /media/SD_card
ExecStart=/bin/bash -c "nice -n -15 node main >>/var/log/nodelog.txt 2>&1"
ExecStartPost=-/usr/bin/killall -KILL rtl_tcp vamp-alsa-host chronyc
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
