Package: sg-control
Version: 0
Architecture: armhf
Section: misc
Priority: standard
Essential: no
Depends: sqlite3, libpam0g-dev, nodejs
Homepage: https://github.com/sensorgnome/sensorgnome-control
Maintainer: TvE (tve-sensorgnome@voneicken.com)
Description: Sensorgnome main control process
  Orchestrates all tag detection, processing, transmission and web activities.
